<% provide(:title, 'About the Green Online Platform') %>
<h1>About the Green Online Platform</h1>
<p>
	The Green Online Platform houses a distinctive green film library collection that highlights the latest environmental films that captivate our attention and bring awareness to urgent issues and push us to take action. We invite you to browse particular categories and find the most current films addressing these issues.
</p>

